<div class="form-criar-conta">
    <div class="criar-conta-session">
        <h1>Criar conta</h1>
        <form action="#" th:action="@{/criar-conta}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br><br>
            <label for="confirm-password">Confirmar password:</label>
            <input type="password" id="confirm-password" name="confirm-password">
            <br><br>
            <button type="submit">Criar conta</button>
        </form>
    </div>
</div>